<div class="app">
    Fora
    <div class="container">
         
            
            <h3>Form</h3>
            <form [formGroup]="formCad">
              <div class="form-group" appClickOutSide (clickOutSide)="onClickOut()">
                <label for="nome">Nome</label>
                <input type="text" formControlName="nome" class="form-control">
              </div>
              <div class="form-group">
                  <label for="nome">Sobre nome</label>
                  <input type="text" formControlName="sobrenome" class="form-control">
              </div>
              <div class="form-group">
                  <label for="lista">Lista</label>
                  <select class="form-control" formControlName="lista" multiple>
                    <option *ngFor="let lista of listas" [value]="lista.id">{{ lista.name }}</option>
                  </select>
              </div>
          
              <div class="form-group">        
                  <input type="file" formControlName="file" (change)="fileChangeEvent($event)" multiple>
              </div>
              <button class="btn btn-success" (click)="save()">Salvar</button>
          
            </form>
            <table class="table">
              <tr *ngFor="let file of fileList">
                <td>
                    <a routerLink="" (click)="openFile(file)">{{ file.name }} </a>
                </td>
              </tr>
            </table>
          
          </div>
</div>